<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

  </head>

  <body>

    <div class="header">
  	<a href="#default" style="color:red;" class="logo">Framework Recommendation</a>
	  <div class="header-right">
		<a href="{% url 'home' %}">Home</a>
		<a href="{% url 'login' %}">Login</a>
		<a href="{% url 'reg' %}">Register</a>
		<a href="{% url 'addcontent' %}">Add Content</a>
		<a href="">About Us</a>
	  </div>
    </div>
    

    <!-- Slideshow container -->

   


    <!-- Title Description -->
    <section class="w3-container w3-center w3-content" style="max-width:600px">
      <h2 class="w3-wide">BLOSSOM FLOWER</h2>
      <p class="w3-opacity"><i>Present your loved ones</i></p>
    </section>


    <!--Features-->

    <section id="feature">
    <div class="title-text">
    <p>FEATURES</p>
    <h1>Why Choose Us</h1>
    </div>
    <div class="feature-box">
      <div class="features">
        <h1>Committed Staff</h1>
        <div class="features-desc">
          <div class="feature-icon">
            <i class="fa fa-shield" aria-hidden="true"></i>
          </div>
          <div class="feature-text">
            <p>The Staff of Blossom are well trained to follow all the protocols and work with the terms and policies effectively.</p>
          </div>
        </div>
        <h1>Customized Bouquet</h1>
        <div class="features-desc">
          <div class="feature-icon">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
          </div>
          <div class="feature-text">
            <p>The Staff of Blossom are well trained to follow all the protocols and work with the terms and policies effectively.</p>
          </div>
        </div>
        <h1>Affordable Cost</h1>
        <div class="features-desc">
          <div class="feature-icon">
            <i class="fa fa-inr" aria-hidden="true"></i>
          </div>
          <div class="feature-text">
            <p>The Staff of Blossom are well trained to follow all the protocols and work with the terms and policies effectively.</p>
          </div>
        </div>
      </div>
      <div class="features-img">
        <img src="images/ag.jpg">
      </div>
    </div>
    </section>

    <!--Service-->

    <section id="service">
      <div class="title-text">
        <p>FLOW CHART</p>
        <h3>For better Understanding of how to use the website!</h3>
        </div>
        <div class="service-box">
          <div class="single-service">
            <img src="images/pic1.jpg">
            <div class="service-desc">
              <h3>Quality Check</h3>
              <hr>
              <p>We give the best to our customers.</p>
            </div>
          </div>
          
        </div>
    </section>


    
  </body>

</html>
