 .header {
    overflow: hidden;
    background-color: #f1f1f1;
    height: 75px;
    width: 100%;
    position: absolute;
    top: 0;
    
  }
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 22px;
    line-height: 25px;
    border-radius: 4px;
  }
  .header a.logo {
    font-size: 25px;
    padding-top: 25px;
    padding-left: 50px;
    font-weight: bold;
  }
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  .header-right {
    float: right;
  }
  
  .container {
    position: relative;
    width: 50%;
  }
  .checkbtn{
    font-size: 30px;
    color: rgba(14, 221, 66, 0.883);
    float: right;
    padding-top: 25px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  
  @media (max-width: 952px){
    .header a.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    .header-right{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .header label.checkbtn{
      display: block;
    }
    .header-right ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    .header-right ul a{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    .header-right{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mulish:wght@300');


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --myfont:'Mulish',sans-serif;
    --my-btn-font:'Montserrat',sans-serif;
    --lg-lightcolor:linear-gradient(to left,rgba(65, 43, 192, 0.87),rgba(247, 250, 244, 0.6));
    --lg-color:linear-gradient(to left,#ec9b30,#e7f186);
}
body{
    background-image:var(--lg-lightcolor),url("");
    background-size:100%;
    background-repeat:no-repeat;
    font-family:var(--myfont);
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    width:100vw;
    position: absolute;
}
.containerl{
    background-color:#fff;
    border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2.8px 2.2px rgba(0,0,0,0.034),0 6.7px 5.3px rgba(0,0,0,0.048),0 12.7px 8.3px;
    overflow:hidden;
    width:calc(100vw - 60vw);
    max-width:100%;
    position:relative;
    top:80px;
    margin-bottom: 80px;
    
}
.headerl{
    background:var(--lg-color);
    padding:30px 0;
}
.headerl h2{
    color:#222;
    font-family:var(--my-btn-font);
    font-size:24px;
    text-transform:uppercase;
    text-align:center;
}
.form{
    padding:40px;
}
.form-control{
    margin-bottom:30px;
    position:relative;
}
.form-control label{
    display:inline-block;
    margin-bottom:5px;
}
.form-control input{
    width:100%;
    border:2px solid #f0f0f0;
    border-radius:5px;
    display:block;
    font-family:var(--myfont);
    font-size:14px;
    padding:12px;
}
.form-control input:focus{
    outline:0;
    border-color:#777;
}
.form-control.success input{
    border-color:#2ecc71;
}
.form-control.error input{
    border-color:#e74c3c;
}
.form-control i{
    position:absolute;
    right:12px;
    top:38px;
    visibility:hidden;
}
.form-control.success i.fa-check-circle{
    color:#2ecc71;
    visibility:visible;
}
.form-control.error i.fa-exclamation-circle{
    color:#e74c3c;
    visibility:visible;
}
.form-control small{
    color:#e74c3c;
    position:absolute;
    left:0;
    visibility:hidden;
}
.form-control.error small{
    visibility:visible;
}
.form .btn{
    background:var(--lg-color);
    border-radius:6px;
    border:none;
    outline:none;
    color:#fff;
    display:block;
    font-family:var(--my-btn-font);
    font-size:16px;
    padding:15px 0;
    margin-top:20px;
    width:100%;
    font-weight:bold;
    text-transform:uppercase;
    transition:all 1s ease;
}
.form .btn:hover{
    background:linear-gradient(to right,#3af03a,#e7f186);
}
@media(max-width:998px){
    .container{
        width:calc(100vw-35vw);
        max-width:100%;
    }
}


